<div class="container text-center my-1">
	<nav class="navbar navbar-light bg-info text-white justify-content-between">
		<a class="navbar-brand">
			Hasta luego,
			{{logout}}!!</a>
		<br />

	</nav>
</div>